.aboutus__header {
	height: 65vh;
	overflow: hidden;
	&-img {
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('/dist/assets/img/aboutus_hero_small.jpg');
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
	}

	&-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(2, 10, 119, 0.521);
		z-index: 4;
	}

	&-text {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0%;
		top: 35%;
		z-index: 15;
		color: $pure-white;
		font-size: $font-size-l;
		text-align: center;
		font-weight: 600;
		font-style: italic;
	}
}

.aboutus__firm {
	padding-bottom: 3em;
	&-box {
		margin-top: 2em;
		padding: 1em;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		&--text {
			h3 {
				font-size: 1.9rem;
				color: $complementary-color;
				margin-bottom: 1em;
			}
			p {
				font-size: $font-size-s;
			}
		}
		&--img {
			display: none;
		}
	}
}

.aboutus__team {
	background-image: $light-blue-gradient;

	h2 {
		color: $pure-white;
	}

	.underline {
		background-color: $complementary-color;
	}

	.wrapper {
		max-width: 1300px;
	}

	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1em 1em 0 1em;
	}

	&-box {
		position: relative;
		margin: 2.5em 0 0;
		padding: 2em;
		max-width: 500px;
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		background-color: $pure-white;
		box-shadow: 0 0 2px 2px $primary-color;
		transition: opacity 1s, transform 1s;
		h3 {
			font-size: $font-size-l;
			font-weight: bold;
			text-align: left;
			margin: 0.5em 0 0.2em;
			color: $complementary-color;
		}

		small {
			font-size: 1.4rem;
			text-align: left;
			color: #292727;
			font-style: italic;
		}

		p {
			margin-top: 2em;
		}

		&--info-mail {
			margin-top: 2em;
			font-size: $font-size-s;

			i {
				margin-right: 0.5em;
			}

			a {
				color: $secondary-color;
			}
		}

		&--info-phone {
			margin-top: 1em;
			font-size: $font-size-s;

			i {
				margin-right: 0.7em;
			}

			a {
				color: $secondary-color;
			}
		}

		img {
			margin-top: 2em;
			width: 100%;
		}
	}
}
