@media (min-width: 68rem) {
	.section-padding {
		padding: 5em 2em;
	}

	.section-title {
		font-size: 2.9rem;
	}

	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.header {
		height: calc(100vh - 125px);
		&__img {
			background-image: url('/dist/assets/img/hero_big.jpg');
		}
		&__text {
			font-size: 3.4rem;
			&--more {
				display: inline;
			}
		}

		&__arrow {
			font-size: 5rem;
		}
	}

	.info {
		&__text {
			position: relative;
			flex-direction: row;
			justify-content: space-around;
			p {
				font-size: 1.7rem;
				text-align: right;
			}

			&--right p {
				text-align: left;
			}
		}

		&__img {
			display: block;
			width: 45%;
			border-radius: 8px;
			transition: transform 0.3s;
			margin-left: 3em;
			&--right {
				margin-left: 0;
				margin-right: 3em;
				order: -10;
			}
			&:hover {
				transform: scale(1.06);
			}
		}

		.section-title--second {
			margin-top: 5em;
		}

		&__btn {
			position: absolute;
			padding: 0.7em 4em;
			width: 75%;
			font-size: $font-size-m;
			bottom: -40%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.news {
		margin-top: 6em;

		&__boxes {
			padding: 1.5em;
		}

		&__box {
			max-width: 800px;
			padding: 3rem;
		}

		&__properties p {
			font-size: $font-size-m;
		}

		&__title {
			margin-bottom: 3rem;
		}
		&__content {
			font-size: $font-size-s;
		}
	}

	.more-info {
		&__box {
			width: 400px;
		}
	}

	.footer {
		padding: 3rem;
		&__boxes {
			flex-direction: row;
		}

		&__box p,
		&__text {
			font-size: $font-size-s;
		}
	}

	.services {
		&__header {
			height: 60vh;
			&-img {
				background-image: url('/dist/assets/img/services_big.jpg');
				background-position: 0% 40%;
			}

			&-text {
				top: 42%;
				font-size: $font-size-xl;
			}
		}

		&__box {
			i {
				font-size: 3.5rem;
			}

			h3 {
				font-size: 1.9rem;
			}

			& p {
				font-size: 1.5rem;
			}
		}
	}

	.aboutus__header {
		height: 60vh;
		&-img {
			background-image: url('/dist/assets/img/aboutus_hero_big.jpg');
			background-position: top;
		}

		&-text {
			top: 42%;
			font-size: $font-size-xl;
		}
	}

	.aboutus__firm {
		&-box {
			&--text {
				h3 {
					font-size: $font-size-xl;
					margin-bottom: 1.4em;
				}
				p {
					font-size: 1.7rem;
					margin-right: 2.5em;
				}
			}
			&--img {
				width: 45%;
			}
		}
	}

	.services__carousel {
		&--text {
			bottom: calc(15% - 2.2rem);
			font-size: 2.2rem;
		}

		&-button {
			width: 55px;
			height: 55px;
			font-size: 4.4rem;
		}
	}

	.aboutus__team {
		&-container {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&-box {
			margin: 2em 3em;
			max-width: 35%;
			small {
				font-size: $font-size-s;
			}

			p {
				font-size: 1.7rem;
			}
		}

		&-box:nth-child(even) {
			margin-right: 0;
		}

		&-box:nth-child(odd) {
			margin-left: 0;
		}
	}

	.contact__box {
		&--text {
			margin-left: 2em;
		}
		&--data {
			h3 {
				margin-bottom: 0.4em;
			}

			small {
				margin-bottom: 0.3em;
			}
		}
	}
}
