@media (min-width: 68rem) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.header {
		height: calc(100vh - 125px);
		&__img {
			background-image: url('/dist/assets/img/hero_big.jpg');
		}
		&__text {
			font-size: 3.5rem;
			&--more {
				display: inline;
			}
		}

		&__arrow {
			font-size: 5rem;
		}
	}
}
