@media (min-width: 45rem) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.header {
		height: calc(100vh - 125px);
		&__text {
			font-size: $font-size-xxl;
			&--more {
				display: inline;
			}
		}

		&__arrow {
			font-size: 5rem;
		}
	}

	
}
