@media (min-width: 45rem) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.header {
		height: calc(100vh - 125px);
		&__text {
			font-size: $font-size-xxl;
			&--more {
				display: inline;
			}
		}

		&__arrow {
			font-size: 5rem;
		}
	}

	.aboutus__details {
		&-boxes {
			margin-top: 2em;
		}

		&-gallery {
			&-img {
				margin: 2em;
				height: 220px;
				width: 175px;
			}
		}

		&-popup {
			&--close,
			&--arrow {
				font-size: 4rem;
				height: 5.5rem;
				width: 5.5rem;
			}
		}
	}

	.aboutus__carousel {
		&--text {
			bottom: calc(15% - 2rem);
			font-size: 2rem;
		}

		&-button {
			width: 50px;
			height: 50px;
			font-size: 4.2rem;
		}
	}
}
