@media (min-width: 45rem) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.header {
		height: calc(100vh - 125px);
		&__text {
			font-size: $font-size-xxl;
			&--more {
				display: inline;
			}
		}

		&__arrow {
			font-size: 5rem;
		}
	}

	.aboutus__firm {
		&-box {
			&--text {
				h3 {
					font-size: $font-size-l;
					margin-bottom: 1.2em;
				}
				p {
					font-size: $font-size-s;
					margin-right: 2em;
				}
			}
			&--img {
				display: block;
				width: 50%;
			}
		}
	}

	.services__details {
		&-boxes {
			margin-top: 2em;
		}

		&-gallery {
			&-img {
				margin: 2em;
				height: 220px;
				width: 175px;
			}
		}

		&-popup {
			&--close,
			&--arrow {
				font-size: 4rem;
				height: 5.5rem;
				width: 5.5rem;
			}
		}
	}

	.services__carousel {
		&--text {
			bottom: calc(15% - 2rem);
			font-size: 2rem;
		}

		&-button {
			width: 50px;
			height: 50px;
			font-size: 4.2rem;
		}
	}

	.aboutus__team {
		&-box {
			margin: 2em;
			h3 {
				font-size: $font-size-xl;
				margin: 0.7em 0 0.2em;
			}

			small {
				font-size: 1.5rem;
			}

			p {
				margin-top: 2em;
				font-size: $font-size-s;
			}

			&--info-mail {
				margin-top: 1em;
				font-size: $font-size-l;

				i {
					margin-right: 0.6em;
				}
			}

			&--info-phone {
				margin-top: 0.7em;
				font-size: $font-size-l;

				i {
					margin-right: 0.7em;
				}
			}

			img {
				margin-top: 2em;
				width: 100%;
			}
		}

		&-box:nth-child(even) {
			margin-right: 200px;
		}

		&-box:nth-child(odd) {
			margin-left: 200px;
		}
	}

	.aboutus__openh {
		&-list {
			margin-top: 1.4em;
			li {
				font-size: 1.7rem;
				margin: 0.4em;
				span {
					margin-left: 0.4em;
				}
			}
			li:last-child {
				padding-top: 0.6em;
			}
		}
	}
}
