$primary-color: rgb(234, 234, 234);
$secondary-color: rgb(33, 43, 53);
$main-color: rgb(9, 119, 223);
$lighter-main-color: rgb(47, 148, 241);
$complementary-color: rgb(235, 17, 10);
$pure-white: rgb(255, 255, 255);
$light-blue-gradient: linear-gradient(70deg, rgba(9, 181, 211, 0.829), rgba(8, 24, 255, 0.75));
$blue-gradient: linear-gradient(45deg, rgba(10, 89, 216, 0.87), rgba(37, 1, 196, 0.767));
$purple-gradient: linear-gradient(45deg, rgba(158, 6, 179, 0.75), rgba(79, 17, 248, 0.75));

$font-size-s: 1rem;
$font-size-m: 1.25rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;
