@import './normalize';
@import './vars';
@import './animations';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $pure-white;
	color: $secondary-color;
	font-size: $font-size-s;
	height: 100vh;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.section-padding {
	padding: 4em 1em;
}

.section-title {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: $font-size-xl;
	letter-spacing: 2px;
	color: $main-color;
}

.underline {
	width: 80px;
	height: 3px;
	margin: 0 auto;
	margin-top: 0.3rem;
	background-color: $lighter-main-color;
}

// MOBILE NAVIGATION
.nav-mobile {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 2em;
	}

	&__logo {
		width: 9rem;
		resize: both;
	}

	&__burger {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 2em;
		width: 4rem;
		height: 4rem;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		z-index: 1000;

		&--bar {
			position: absolute;
			width: 3rem;
			height: 0.25em;
			background-color: $secondary-color;
			position: relative;
			transition: transform 0.25s;
		}
	}

	.active {
		.nav-mobile__burger--bar:nth-child(1),
		.nav-mobile__burger--bar:nth-child(2) {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		.nav-mobile__burger--bar:nth-child(1) {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.nav-mobile__burger--bar:nth-child(2) {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		.nav-mobile__burger--bar:nth-child(3) {
			opacity: 0;
		}
	}

	&__links {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $pure-white;
		z-index: 100;
		transform: translateX(101%);
		transition: transform 0.3s ease-in-out;
	}

	&__links.active {
		transform: translateX(0);
	}

	&__link {
		position: relative;
		font-size: $font-size-l;
		text-decoration: none;
		font-weight: bold;
		padding: 0.7em;
		color: $main-color;
	}

	&__link::before {
		content: '';
		position: absolute;
		bottom: 25%;
		left: 10%;
		width: 80%;
		height: 2px;
		background-color: $complementary-color;
		transform: scaleX(0);
		transition: transform 0.3s;
	}

	&__link:hover::before {
		transform: scaleX(1);
	}
}

// DESKTOP NAVIGATION
.nav-desktop {
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	&__logo {
		width: 10rem;
		resize: both;
	}

	&__links {
		margin-right: 1em;
	}

	&__link {
		position: relative;
		font-size: 2rem;
		text-decoration: none;
		font-weight: bold;
		padding: 0.7em;
		color: $main-color;
	}

	&__link::before {
		content: '';
		position: absolute;
		bottom: 20%;
		left: 10%;
		width: 80%;
		height: 2px;
		background-color: $complementary-color;
		transform: scaleX(0);
		transition: transform 0.3s;
	}

	&__link:hover::before {
		transform: scaleX(1);
	}
}

// HERO IMAGE
.header {
	height: calc(100vh - 115px);
	overflow: hidden;
	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url('/dist/assets/img/hero_small.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(2, 10, 119, 0.521);
		z-index: 4;
	}

	&__text {
		position: absolute;
		width: 70%;
		max-width: 1000px;
		left: 50%;
		top: 45%;
		z-index: 5;
		color: $pure-white;
		transform: translate(-50%, 350%);
		font-size: $font-size-xl;
		text-align: center;
		font-weight: 600;
		opacity: 0;
		font-style: italic;
		animation: letters 1.5s forwards;
		&--more {
			display: none;
		}
	}

	&__arrow {
		position: absolute;
		left: calc(50% - 2.5rem);
		bottom: 5%;
		width: 5rem;
		height: 5rem;
		color: $pure-white;
		font-size: $font-size-xxl;
		z-index: 20;
		animation: arrow 2s infinite;
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid $pure-white;
			border-radius: 50%;
			opacity: 0;
		}
		&:hover::before {
			animation: arrowborder 2s alternate infinite;
		}
	}
}

// INFO SECTION
.info {
	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		margin-top: 2em;
		text-align: center;
		span {
			font-weight: bold;
		}
	}

	&__img {
		display: none;
	}

	&__btn {
		display: block;
		margin: 2em 0em;
		padding: 0.5em 4em;
		width: 80%;
		font-weight: bold;
		border-radius: 8px;
		border: 2px solid $lighter-main-color;
		text-decoration: none;
		color: $complementary-color;
		transition: color 0.3s, background-color 0.3s;
		font-size: $font-size-s;
	}

	&__btn:hover {
		color: $pure-white;
		background-color: $lighter-main-color;
	}
}

// NEWS SECTION
.news {
	background-image: $light-blue-gradient;
	overflow: hidden;

	.section-title {
		color: $pure-white;
	}

	.underline {
		background-color: $complementary-color;
	}

	&__boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1em;
	}

	&__box {
		position: relative;
		margin: 2em 0;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		padding: 2rem;
		background-color: $pure-white;
		box-shadow: 0 0 3px 2px $primary-color;
		transition: opacity 1s, transform 1s;
		transform: translateX(-200%);
		&.animationRight {
			animation: newsRight 1s forwards;
		}
		&.animationLeft {
			animation: newsLeft 1s forwards;
		}
	}

	&__properties {
		display: flex;
		justify-content: space-between;
		font-size: $font-size-l;
		font-weight: bold;
	}

	&__author {
		text-align: right;
	}

	&__text {
		margin-top: 2.5rem;
	}

	&__title {
		font-size: $font-size-l;
		font-weight: bold;
		text-align: center;
		margin-bottom: 1.8rem;
		color: $complementary-color;
	}

	&__content {
		span {
			font-weight: bold;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $main-color;
			font-weight: bold;
			transition: color 0.4s;
			&:hover {
				color: $lighter-main-color;
			}
		}
	}
}

// MORE INFO SECTION
.more-info {
	background-color: $pure-white;
	&__container {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__boxes {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__box {
		position: relative;
		margin: 2rem 0;
		padding: 1.5em;
		height: 450px;
		width: 100%;
		max-width: 350px;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;
		&:hover {
			.more-info__box-img {
				transform: rotateY(180deg);
				opacity: 0;
			}
			.more-info__box-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			padding: 1.3rem;
			height: 100%;
			border-radius: 8px;
			background-size: cover;
			transition: transform 1s, opacity 1s;
			background-size: cover;
			background-position: center;
			&--first {
				background-image: $light-blue-gradient, url('/dist/assets/img/card1.jpg');
			}

			&--second {
				background-image: $blue-gradient, url('/dist/assets/img/card2.jpg');
			}

			&--third {
				background-image: $purple-gradient, url('/dist/assets/img/card3.jpg');
			}

			&-title {
				margin-top: 1em;
				font-size: $font-size-m;
				font-style: italic;
			}

			&-info {
				font-size: $font-size-s;
				position: absolute;
				bottom: 2.5rem;
				right: 2.5rem;
				i {
					margin-right: 0.6rem;
				}
			}
		}

		&-info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-image: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(8, 167, 199) 100%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-radius: 8px;
			opacity: 0;
			transform: rotateY(180deg);
			transition: transform 1s, opacity 1s;

			&-list {
				margin: 0 auto;
				width: 70%;
				list-style: none;

				&-item {
					padding: 0.6em;
					border-bottom: 1px solid $primary-color;
					&:last-child {
						border-bottom: none;
					}

					p {
						font-size: $font-size-m;
					}

					.firm-name {
						display: block;
						font-size: $font-size-s;
						margin-top: 0.4rem;
					}

					i {
						margin-top: 0.6rem;
						margin-right: 0.5rem;
						font-size: $font-size-s;
						transition: color 0.4s;
						&:hover {
							color: $primary-color;
						}
					}

					a {
						text-decoration: none;
						color: $pure-white;
						font-size: $font-size-s;
					}
				}
			}
		}
	}
}

// FOOTER
.footer {
	background-color: $secondary-color;
	color: $primary-color;
	padding: 2rem;
	margin-bottom: 0;
	z-index: 5;

	&__boxes {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__box {
		width: 100%;
		padding: 1rem 2rem;
		text-align: center;
		.firm-item {
			margin: 0.2rem 0;
		}
	}

	&__text {
		text-align: center;
		margin-top: 1.5rem;
	}
}

@import './services';
@import './aboutus';
@import './medium';
@import './big';
